<launch>
  <arg name="gpu" default="false" />
  <arg name="gui" default="false" />

  <include file="$(find ma_loam)/launch/env_template.launch">
    <arg name="environment" value="skarpnack" />
    <arg name="gpu" value="$(arg gpu)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="sensor_pose" value="0 -40 2.5 0 0 0 1" />
  </include>
</launch>